/* Whole body */
body{
    margin:0px;
    padding: 0px;
    background-color:white;
    /* background-color:white; */
}

section:target{
    background-color: whitesmoke;
}

/* Body header */
#body-header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:-1rem;
    height:auto;
    /* opacity: .95; */
    background-image: url(/images/img_lights.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /*to be at same place */
    border:4px solid green;
    position: relative;
}

/* Navigation Bar*/
.navbar{
    list-style: none;
}
/* Navigation bar list  */
.navbar li{
    display:inline-block;
    margin:-25px 12.5px 0px 12.5px;
}

/* Navigation bar lists a  */
.navbar li a{
    color:white;
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

/* navigation bar li a at hover  */
.navbar .li a:hover{
    color:rgb(195, 33, 33);
    border-bottom: 1px solid black;
}

/* for test to be at center  */
.text-center{
    text-align: center;
}


#body-header .name {
    margin-top: -3rem;
    font-size: 3rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
}
.social-media{
    margin-top:-4.5rem;
}
.social-media li a i{
    padding:1rem;
    font-size:2rem;
    border-radius:50%;
    margin-bottom: 10rem;
}
.social-media li a i:hover{
    box-shadow: 0px 0px 6px 2px whitesmoke;
}
.social-media li a i:visited{
    box-shadow: 0px 0px 6px 2px whitesmoke;
}
#about{
    height:auto;
    width:100%;
}
.my-img{
    height:14rem;
    width:14rem;
    margin:auto;
    margin-top:-8rem;
}
.my-img img{
    position:relative;
    width:100%;
    height:100%;
    border-radius: 180px;
    border:2px solid green;
}
.about-me{
    height:auto;
    width:60%;
    margin:auto;
}
#about .about-me p{
    color:rgb(69, 85, 99);
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#skills{
    margin-top:1rem;
    height:auto;
    width:100%;
    display: inline-block;
    background-color: rgb(210, 214, 214);
}

#skills .header{
    display: flex;
    border-radius: 4rem;
    width:22rem;
    margin:auto;
}
#skills .header:hover{
    box-shadow: 0px 0px 8px 8px rgb(143, 128, 128);
}
#skills .header span{
    font-size: 4rem;
    color:rgba(39, 29, 81, 0.983);
    margin:2rem 1rem;
}


#skill-display {
    width:80%;
    margin:auto;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
    padding-left:10%;
    padding-right:10%;
}
#skill-display .skill-progress{
    width:15rem;
    margin-top:2rem;
    height:2rem;
    border-radius: 0.8rem;
    box-shadow: 0px 0px 4px 4px grey;
    margin-right:3rem;
    border:2px solid black;
    background-color: rgb(207, 202, 202);
}
#skill-display .skill-progress .seventy-five-percent{
    margin-left:-0.5px;
    width:75%;
    height:inherit;
    background-color: rgb(187, 5, 5);
    border-radius: 0.7rem;
    padding-top:1px;
}
#skill-display .skill-progress .seventy-five-percent .skill-name span{
    margin-left:1rem;
    font-size: 1.4rem;
    font-weight:bold;
}


#skill-display .skill-progress .eighty-percent{
    margin-left:-0.5px;
    width:85%;
    height:inherit;
    background-color: rgb(10, 172, 1);
    border-radius: 0.7rem;
    padding-top:1px;
}
#skill-display .skill-progress .eighty-percent .skill-name span{
    margin-left:1rem;
    font-size: 1.4rem;
    font-weight:bold;
}

#skill-display .skill-progress .fifty-percent{
    margin-left:-0.5px;
    width:50%;
    height:inherit;
    background-color: rgb(59, 59, 158);
    border-radius: 0.7rem;
    padding-top:1px;
}
#skill-display .skill-progress .fifty-percent .skill-name span{
    margin-left:1rem;
    font-size: 1.4rem;
    font-weight:bold;
}

#skill-display .skill-progress .seventy-six-percent{
    margin-left:-0.5px;
    width:76%;
    height:inherit;
    background-color: rgb(187, 5, 5);
    border-radius: 0.7rem;
    padding-top:1px;
}
#skill-display .skill-progress .seventy-six-percent .skill-name span{
    margin-left:1rem;
    font-size: 1.4rem;
    font-weight:bold;
}
#skill-display .skill-progress .ninety-percent{
    margin-left:-0.25px;
    width:90%;
    height:inherit;
    background-color: rgb(10, 172, 1);
    border-radius: 0.7rem;
    padding-top:1px;
}
#skill-display .skill-progress .ninety-percent .skill-name span{
    margin-left:1rem;
    font-size: 1.4rem;
    font-weight:bold;
}
#skill-display .skill-progress .sixty-percent{
    margin-left:-0.5px;
    width:60%;
    height:inherit;
    background-color: rgb(59, 59, 158);
    border-radius: 0.7rem;
    padding-top:1px;
}
#skill-display .skill-progress .sixty-percent .skill-name span{
    margin-left:1rem;
    font-size: 1.4rem;
    font-weight:bold;
}
#skill-display .skill-progress-dsa{
    width:30rem;
    margin-top:2rem;
    height:auto;
    border-radius: 0.8rem;
    box-shadow: 0px 0px 4px 4px grey;
    margin-right:3rem;
    border:2px solid black;
    background-color: rgb(199, 192, 192);
    margin-bottom:5rem;
}

#skill-display .skill-progress-dsa .seventy-one-percent{
    margin-left:-0.5px;
    display: flex;
    flex-wrap: wrap;
    width:71%;
    height:100%;
    background-color: rgb(187, 5, 5);
    border-radius: 0.7rem;
    padding-left:7px;
    padding-top:1px;
}
#skill-display .skill-progress-dsa .seventy-one-percent .skill-name span{
    margin-left:1rem;
    font-size: 1.4rem;
    font-weight:bold;
}
#project{
    width: 100%;
    height:auto;
    background-color: rgb(244, 244, 229);
    margin-top:-1rem;
}
#project .header{
    display: flex;
    border-radius: 4rem;
    width:22rem;
    margin:auto;
    margin-top:0.5rem;
}
#project .header:hover{
    box-shadow: 0px 0px 8px 8px rgb(143, 128, 128);
}
#project .header span{
    font-size: 4rem;
    color:rgba(39, 29, 81, 0.983);
    margin:2rem 1rem;
}
#project .timeline{
    height:auto;
    position: relative;
    width:85%;
    margin:auto;
    padding-bottom:10rem;
}
#project .timeline .timeline-box{
    position:relative;
    width:40%;
    height:auto;
    left:0%;
    min-height: 150px;
    margin:1rem 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
}
#project .timeline .timeline-box:nth-child(2n){
    left:55%;
}
#project .timeline .timeline-box .projects{
    display:flex;
    flex-wrap:wrap;
}
#project .timeline .timeline-box .projects span{
    margin:auto;
    font-size:2rem;
    margin-top:-0.20rem;
    margin-right:2rem;
    display:flex;
    flex-wrap:wrap;
    margin-left:-1rem;
}
#project .timeline .timeline-box .projects span img{
    width:3rem;
    height:3rem;
    border-radius:2rem;
    margin-top: -.25rem;
    margin-right:0rem;
}
#project .timeline .timeline-box h3{
    margin-left:0rem;
    margin-right:1rem;
}
#project .timeline .timeline-divider{
    position:absolute;
    height:65%;
    width:0px;
    border:3px dashed rgb(4, 4, 4);
    top:10%;
    left:49.9%;
}
#project .timeline .timeline-divider .timeline-traveller{
    position:sticky;
    transform: rotate(90deg);
    font-size:2rem;
    top:25%;
    color:rgb(2, 2, 69);
}
#education{
    background-color:rgb(222, 221, 221);
    width:100%;
    margin-top:-1.2rem;
    padding-top:2rem;
    height:auto;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    padding-bottom:5rem;
}
#education .header{
    display: flex;
    border-radius:4rem;
    width:20rem;
    margin-top:-0.5rem;
    margin:auto;
}
#education .header:hover{
    box-shadow: 0px 0px 8px 8px rgb(143, 128, 128);
}
#education .header span{
    margin:auto;
    font-size:3rem;
    color:rgba(39, 29, 81, 0.983);
    margin:0.5rem;
}
 #education .timeline{
    position: relative;
    width:80%;
    height:auto;
    margin:auto;
}
#education .timeline .timeline-box{
    position:relative;
    width:40%;
    height:auto;
    min-height: 150px;
    margin:auto;
    margin:1rem 0rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#education .timeline .timeline-box:nth-child(2n){
    left:55%;
}
#education .timeline .timeline-box .educated{
    display: flex;
    flex-wrap:wrap;
    margin-left:1rem;
    width: 100%;
}
#education .timeline .timeline-box .educated span{
    /* margin:auto; */
    display:flex;
    flex-wrap:wrap;
    font-size: 2rem;
    margin-inline: 0.1rem;
}
#education .timeline .timeline-box span{
    font-size:1.8rem;
    margin:auto;
    margin-top:-0.5rem;
    margin-bottom: -0.5rem;
}
#education .timeline .timeline-box p{
    font-size:1.2rem;
    margin:1rem 1rem;
}
#education .timeline .timeline-divider{
    position:absolute;
    left:49.9%;
    top:10%;
    border:3px dashed rgb(60, 60, 87);
    width:0%;
    height:80%;
}
#education .timeline .timeline-divider .timeline-traveller{
    position: sticky;
    transform: rotate(90deg);
    font-size: 2rem;;
    top:25%;
}


#project .timeline .timeline-divider{
    position:absolute;
    height:65%;
    width:0px;
    border:3px dashed rgb(4, 4, 4);
    top:10%;
    left:49.9%;
}
#project .timeline .timeline-divider .timeline-traveller{
    position:sticky;
    transform: rotate(90deg);
    font-size:2rem;
    top:25%;
    color:rgb(2, 2, 69);
}
#contact{
    width:auto;
    height:auto;
    background-color:rgb(100, 100, 98);
    min-height:200px;
}
#contact .header{
    display: flex;
    flex-wrap:wrap;
    width:15rem;
    font-size: 3rem;
    margin:auto;
}
#contact .header span{
    margin-right:1rem;
    margin-top: 1rem;
    color:whitesmoke;
}
#contact .contact-us .footer-bar{
    display: flex;
    flex-wrap: wrap;
}
#contact .contact-us{
    width: 60%;
    margin:auto;
    padding-top:2rem;
}
#contact .contact-us li{
    list-style: none;
    font-size:2.5rem;
    margin:auto;
}
#contact .contact-us li i{
    color:rgb(124, 167, 167);
}